@use 'variables';

body {
    font-family: variables.$font-family-primary;
    font-weight: variables.$font-weight-regular;
    font-style: normal;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: variables.$text-color;
    background-color: variables.$bg-color;

    @media (max-width: 1200px) {
        font-size: 15px;
        line-height: 1.5;
    }

    @media (max-width: 992px) {
        font-size: 14px;
        line-height: 1.5;
    }

    @media (max-width: 768px) {
        font-size: 14px;
        line-height: 1.4;
    }

    @media (max-width: 600px) {
        font-size: 13px;
        line-height: 1.4;
    }

    @media (max-width: 480px) {
        font-size: 12px;
        line-height: 1.3;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: variables.$font-family-primary;
    font-weight: variables.$font-weight-bold;
    margin: 0 0 10px;
    line-height: 1.2;
}

p {
    font-family: variables.$font-family-secondary;
    font-weight: variables.$font-weight-regular;
    margin: 0 0 10px;
    line-height: 1.6;
}