@use 'variables';

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    touch-action: pan-y;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    -webkit-tap-highlight-color: transparent;

    @media (max-width: 768px) {
        padding: 15px;
    }

    @media (max-width: 480px) {
        padding: 10px;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        list-style: none;
        margin-top: 15px;

        li {
            margin: 0 6px;

            button {
                background-color: variables.$contrast-color;
                border: none;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover,
                &.slick-active {
                    background-color: variables.$primary-color;
                }
            }
        }
    }

    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(variables.$contrast-color, 0.8);
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        color: variables.$bg-color;
        font-size: 18px;
        line-height: 50px;
        text-align: center;
        cursor: pointer;
        z-index: 10;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: variables.$secondary-color;
        }

        &.slick-prev {
            left: 15px;
        }

        &.slick-next {
            right: 15px;
        }

        @media (max-width: 768px) {
            width: 40px;
            height: 40px;
            font-size: 16px;
            line-height: 40px;
        }

        @media (max-width: 480px) {
            width: 30px;
            height: 30px;
            font-size: 14px;
            line-height: 30px;
        }
    }

    .slick-list {
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border-radius: 8px;
    }

    .slick-track {
        display: flex;
        gap: 10px;
        transition: transform 0.3s ease;
    }

    .slick-slide {
        min-width: 300px;
        max-width: 80%;
        text-align: center;
        color: variables.$text-color;

        @media (max-width: 768px) {
            min-width: 250px;
        }

        @media (max-width: 480px) {
            min-width: 200px;
        }

        img {
            width: 100%;
            border-radius: 10px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            box-shadow: 0 4px 6px rgba(variables.$contrast-color, 0.2);

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 6px 12px rgba(variables.$contrast-color, 0.3);
            }
        }
    }
}