@use 'variables';

header {
    background-color: #f7f9fc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
    header nav a {
        color: variables.$text-color;
        transition: color 0.3s;
    }
    header nav a:hover {
        color: #f39c12; /* Cambia el color del enlace al pasar el cursor */
    }
    header .btn-warning {
        background-color: #f39c12;
        border: none;
        transition: background-color 0.3s;
    }
    header .btn-warning:hover {
        background-color: #d87d06;
    }

.full-width {
    width: 100% !important;
    max-width: 100% !important;
    height: auto;
    padding: 0;
    margin: 0;
}

/* ESTILO PARA EL CARRUSEL DEL INDICE */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    touch-action: pan-y;
    background-color: variables.$bg-color;
    padding: 20px;
    border-radius: 10px;
    -webkit-tap-highlight-color: transparent;
  
    .slick-dots {
      display: flex;
      justify-content: center;
      list-style: none;
      margin-top: 15px;
  
      li {
        margin: 0 6px;
  
        button {
          background-color: variables.$contrast-color;
          border: none;
          border-radius: 50%;
          width: 12px;
          height: 12px;
          cursor: pointer;
          transition: background-color 0.3s ease;
  
          &:hover,
          &.slick-active {
            background-color: variables.$primary-color;
          }
        }
      }
    }
  
    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(variables.$contrast-color, 0.8);
      border: none;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      color: variables.$bg-color;
      font-size: 18px;
      line-height: 50px;
      text-align: center;
      cursor: pointer;
      z-index: 10;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: variables.$secondary-color;
      }
  
      &.slick-prev {
        left: 15px;
      }
  
      &.slick-next {
        right: 15px;
      }
    }
  
    .slick-list {
      position: relative;
      overflow: hidden;
      margin: 0;
      padding: 0;
      border-radius: 8px;
    }
  
    .slick-track {
      display: flex;
      gap: 10px;
      transition: transform 0.3s ease;
    }
  
    .slick-slide {
        min-width: 300px;
        max-width: 100%;
        text-align: center;
        color: variables.$text-color;
    
        img {
          width: 100%;
          border-radius: 10px;
          transition: transform 0.3s ease, box-shadow 0.3s ease;
          box-shadow: 0 4px 6px rgba(variables.$contrast-color, 0.2);
    
          &:hover {
            transform: scale(1.05);
            box-shadow: 0 6px 12px rgba(variables.$contrast-color, 0.3);
          }
        }
    }
}  