@use 'typography';

// Variables
$font-family-base: 'Montserrat', Arial, sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Colores
$primary-color: #FFDB74;
$secondary-color: #F4A8A8;
$tertiary-color: #8AC4D0;
$bg-color: #F9F9F9;
$contrast-color: #4D4D4D;
$text-color: #5D5250;
$dark-bg-color: #121212;
$dark-text-color: #ffffff;