@use 'typography';

// Variables
$font-family-primary: 'Montserrat', Arial, sans-serif;
$font-family-secondary: 'Times New Roman', Times, serif;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Colores
$primary-color: #0d6efd;
$secondary-color: #F4A8A8;
$tertiary-color: #ffc107;
$bg-color: #F9F9F9;
$contrast-color: #4D4D4D;
$text-color: #5D5250;
$dark-bg-color: #121212;
$dark-text-color: #ffffff;