@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #5D5250;
  background-color: #F9F9F9;
}
@media (max-width: 600px) {
  body {
    font-size: 14px;
    line-height: 1.4;
  }
}

.dark-mode {
  background-color: #121212;
  color: #ffffff !important;
}

header {
  background-color: #f7f9fc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header nav a {
  color: #5D5250;
  transition: color 0.3s;
}

header nav a:hover {
  color: #f39c12; /* Cambia el color del enlace al pasar el cursor */
}

header .btn-warning {
  background-color: #f39c12;
  border: none;
  transition: background-color 0.3s;
}

header .btn-warning:hover {
  background-color: #d87d06;
}

.full-width {
  width: 100% !important;
  max-width: 100% !important;
  height: auto;
  padding: 0;
  margin: 0;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

/* ESTILO PARA EL CARRUSEL DEL INDICE */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  touch-action: pan-y;
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  -webkit-tap-highlight-color: transparent;
}
.slick-slider .slick-dots {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 15px;
}
.slick-slider .slick-dots li {
  margin: 0 6px;
}
.slick-slider .slick-dots li button {
  background-color: #4D4D4D;
  border: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.slick-slider .slick-dots li button:hover, .slick-slider .slick-dots li button.slick-active {
  background-color: #FFDB74;
}
.slick-slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(77, 77, 77, 0.8);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #F9F9F9;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease;
}
.slick-slider .slick-arrow:hover {
  background-color: #F4A8A8;
}
.slick-slider .slick-arrow.slick-prev {
  left: 15px;
}
.slick-slider .slick-arrow.slick-next {
  right: 15px;
}
.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-radius: 8px;
}
.slick-slider .slick-track {
  display: flex;
  gap: 10px;
  transition: transform 0.3s ease;
}
.slick-slider .slick-slide {
  min-width: 300px;
  max-width: 100%;
  text-align: center;
  color: #5D5250;
}
.slick-slider .slick-slide img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(77, 77, 77, 0.2);
}
.slick-slider .slick-slide img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(77, 77, 77, 0.3);
}

/*# sourceMappingURL=styles.css.map */
