<div class="container text-center mt-5 mb-5">
    <h1 class="display-4 text-danger">🚧 Página en Construcción 🚧</h1>
    <p class="lead mt-3">Estamos trabajando para traerte una mejor experiencia.</p>

    <p class="mt-4">Mientras tanto, puedes explorar otros apartados de D-Read:</p>

    <div class="d-flex justify-content-center gap-3 mt-3">
        <a href="index.php" class="btn btn-primary">🏠 Ir a Inicio</a>
        <a href="books.php" class="btn btn-warning">📚 Explorar Libros</a>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>