<footer class="footer bg-light-footer py-4">
    <div class="container">
        <div class="row text-center text-md-start">
            <div class="col-md-3 mb-4">
                <h5 class="text-uppercase mb-3">D-Read Blog</h5>
                <a href="#" class="d-flex align-items-center text-white text-decoration-none">
                    <i class="fas fa-rss me-2 fs-4"></i>
                    <span>
                        <strong>D-Read Blog</strong>
                        <br>
                        <small>(RSS Feed)</small>
                    </span>
                </a>
            </div>
            
            <div class="col-md-3 mb-4">
                <h5 class="text-uppercase mb-3">Social Media</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#" class="text-white text-decoration-none d-flex align-items-center mb-2">
                            <i class="fab fa-twitter me-2 fs-4"></i> Twitter
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-white text-decoration-none d-flex align-items-center mb-2">
                            <i class="fab fa-facebook-f me-2 fs-4"></i> Facebook
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-white text-decoration-none d-flex align-items-center">
                            <i class="fab fa-instagram me-2 fs-4"></i> Instagram
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="col-md-3 mb-4">
                <h5 class="text-uppercase mb-3">Useful Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#" class="text-white text-decoration-none mb-2 d-block">
                            <i class="fas fa-bug me-1"></i> Report an Issue
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-white text-decoration-none mb-2 d-block">
                            <i class="fas fa-book-open me-1"></i> D-Read Wiki
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-white text-decoration-none mb-2 d-block">
                            <i class="fas fa-comments me-1"></i> Join the Forum
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-white text-decoration-none d-block">
                            <i class="fas fa-phone me-1"></i> Contact Support
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="col-md-3 mb-4">
                <h5 class="text-uppercase mb-3">About</h5>
                <a href="#" class="d-flex align-items-center text-white text-decoration-none">
                    <i class="fas fa-info-circle me-2 fs-4"></i>
                    <span>
                        <strong>About D-Read</strong>
                        <br>
                        <small>Privacy Policy</small>
                    </span>
                </a>
            </div>
        </div>
        
        <div class="row">
            <div class="col text-center">
                <p class="mb-0">
                    Portions of this content are &copy;2023 by individual D-Read contributors. Content available under a 
                    <a href="#" class="text-white text-decoration-underline">Creative Commons License</a>.
                </p>
            </div>
        </div>
    </div>
</footer>