<footer class="footer bg-dark text-white py-4">
    <div class="container">
        <div class="row text-center text-md-start">
            <div class="col-md-3 mb-4">
                <h5 class="text-uppercase mb-3">Drumbeat Blog</h5>
                <a href="#" class="d-flex align-items-center text-white text-decoration-none">
                    <i class="fas fa-rss me-2 fs-4"></i>
                    <span>
                        <strong>Drumbeat Blog</strong>
                        <br>
                        <small>(RSS Feed)</small>
                    </span>
                </a>
            </div>
            
            <div class="col-md-3 mb-4">
                <h5 class="text-uppercase mb-3">Social Media</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#" class="text-white text-decoration-none d-flex align-items-center mb-2">
                            <i class="fab fa-twitter me-2 fs-4"></i> Twitter
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-white text-decoration-none d-flex align-items-center mb-2">
                            <i class="fab fa-facebook-f me-2 fs-4"></i> Facebook
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-white text-decoration-none d-flex align-items-center">
                            <i class="fab fa-flickr me-2 fs-4"></i> Flickr
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="col-md-3 mb-4">
                <h5 class="text-uppercase mb-3">Useful Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#" class="text-white text-decoration-none mb-2 d-block">
                            <i class="fas fa-bug me-1"></i> File a Bug
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-white text-decoration-none mb-2 d-block">
                            <i class="fas fa-book-open me-1"></i> Drumbeat Wiki
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-white text-decoration-none mb-2 d-block">
                            <i class="fas fa-comments me-1"></i> Join the Newsgroup
                        </a>
                    </li>
                    <li>
                        <a href="#" class="text-white text-decoration-none d-block">
                            <i class="fas fa-phone me-1"></i> Join the Weekly Call
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="col-md-3 mb-4">
                <h5 class="text-uppercase mb-3">About</h5>
                <a href="#" class="d-flex align-items-center text-white text-decoration-none">
                    <i class="fab fa-firefox me-2 fs-4"></i>
                    <span>
                        <strong>Mozilla.org</strong>
                        <br>
                        <small>Privacy Policy</small>
                    </span>
                </a>
            </div>
        </div>
        
        <div class="row">
            <div class="col text-center">
                <p class="mb-0">
                    Portion of this content are &copy;2010 by individual drumbeat.org contributors. Content available under a 
                    <a href="#" class="text-white text-decoration-underline">Creative Commons License</a>.
                </p>
            </div>
        </div>
    </div>
</footer>